/* estilo general */
body {
    margin: 0;
    padding: 0;
  }
  
  .App {
    /* display: flex; */
    justify-content: center;
    font-family: Calibri;
    font-size: 24px;
  }
  
  .TitleSection {
    background-color: #C04C4B;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e7e7e6;
  }
  
  .TitleSection input {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #5e98b1;
    font-size: 18px;
    padding-left: 10px;
  }
  
  .TitleSection button {
    width: 180px;
    height: 40px;
    margin: 20px;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 10px;
    border: none;
    color: #e7e7e6;
    background-color: #006cbf
  }
  
  .TitleSection button:hover {
    cursor: pointer;
  }

  /* estilos de tarjeta */
  .DisplaySection{

    display: flex;
    justify-content: center;
    background-color: #464646;
    color: rgb(250, 250, 244); 
    margin-left: 40%;  
    margin-top: 10px;
    min-width: 20%;
    width: fit-content;
    border-radius: 100px;
 

  }

/* estilo datos de tarjeta */
  .datos{

    text-align: center;
    /* justify-content: space-between;  */
  
  }

/* tamaño imagen  */
  img{

    width: 200px;
  }